/*
 * Column styles
*/

.lost-container {
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .col-1 {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.8s;
    lost-column: 1/1;

    .product {
      display: flex;
      align-items: center;
      align-content: space-around;
      justify-content: space-around;
    }

    img {
      flex-basis: 33%;
      max-width: 33%;
    }
    .prod-text {
      font-size: 0.8em;
    }
    .overlay {
      background: white;
      padding: 4em 1em;
      flex-basis: 50%;
      max-width: 50%;
    }
    .shop-now-cta {
      border: 1px solid black;
      padding: 8px;
      display: block;
      text-decoration: none;
      color: #444;
      text-transform: uppercase;
    }
  }
}
