/*
 * Home Slide styles
*/

.lost-grid-home {
  justify-content: center;
  background: none !important;
  .home-box {
    .title {
    }
    .subHead_A {
    }
    .subHead_B {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    .subHead_C {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -60%);
      width: 150px;
      top: 60%;
      font-size: calc(0.875em - 1px);
    }
    .start-btn {
      width: 1.6em;
      height: 1.6em;
      background: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      box-shadow: 0px 4px 10px 6px #666;
      cursor: pointer;
      z-index: 10;
      transition: all 0.3s ease-in-out;
    }

    .start-btn:hover {
      box-shadow: 0px 1px 14px 2px #fff;
    }
  }
}
