@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "./slider";
@import "./radial";
@import "./page";
@import "./home";

html,
body {
  font-family: "Roboto";
  position: relative;
  height: 100%;
  overflow: hidden;
}
