/*
 * Page styles
*/

.page {
  height: 100vh;
  width: 100%;
  background: rgba(121, 121, 121, 0.6) !important;

  .lost-grid {
    lost-center: 980px 30px flex;
    height: 75%;
    background: red;
    width: 100%;

    .box {
      position: relative;
    }
  }
}

@media (min-width: 400px) {
  .page {
    .lost-grid {
      lost-center: 980px 30px flex;
      height: 75%;
      background: red;
      width: 100%;
    }
  }
}

@media (min-width: 900px) {
  .page {
    .lost-grid {
      lost-center: 980px 30px flex;
      height: 75%;
      background: red;
      width: 100%;
    }
  }
}
